# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
data/
outputs/
*.wandb
*.pkl
*.npy
*.h5
*.hdf5
*.tar.gz

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Log files
*.log
